 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                    <!--<hr class="star-light">-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Data Scientist with more than six years of experience across different industries and roles, with a keen interest in Machine Learning and Artificial Intelligence. I am an avid learner, constantly striving to acquire new knowledge and expand my skillset. I have a particular interest in human interactions and how technology is used to influence our behaviours.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am keen to apply my existing skills, interests and knowledge, and develop new ones by working on projects that bring together challenging contexts, interesting data sets and cutting-edge technology.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>